@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xm: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1366px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1980px;

  --color-brand-300: #996dff;
  --color-brand-500: #8257e6;

  --color-primary-100: #b4daff;
  --color-primary-300: #0068e2;
  --color-primary-500: #0054b6;
  --color-primary-700: #476fe6;

  --color-secondary-100: #fdb713;
  --color-secondary-500: #f5821f;
  --color-secondary-700: #f05a22;
  --color-secondary-900: #ef402f;

  --color-info-500: #e2e3e5;
  --color-info-700: #41464b;

  --color-success-500: #d1e7dd;
  --color-success-700: #0f5132;

  --color-error-500: #f8d7da;
  --color-error-600: #bf2e3a;
  --color-error-700: #842029;

  --color-warning-500: #fff3cd;
  --color-warning-600: #664d03;

  --color-dark-400: #18181b;
  --color-dark-500: #09090b;
  --color-dark-600: #1f2937;
  --color-dark-700: #0f1926;

  --color-odd-500: #f2f2f2;
}

body {
  @apply dark:bg-dark-500 dark:text-zinc-100;
}

button {
  cursor: pointer;
}

@utility nao-mostrar {
  display: none;
}
